body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    touch-action: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.container {
    margin-top: auto;
    position: relative;
    width: 100vw;
    height: 86vh;
    overflow: auto;
}

.scroll-content {
    position: relative;
}

canvas {
    position: sticky;
    top: 0;
    left: 0;
    display: block;
    cursor: cell;
    pointer-events: auto;
}

canvas.resize-col {
    cursor: col-resize;
}

canvas.resize-row {
    cursor: row-resize;
}

.info {
    position: fixed;
    top: 90px;
    left: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 100;
}

.cell-editor {
    position: fixed;
    background: transparent;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 2px 4px;
    border: 1px solid #e7f1ec;
    margin: 0;
    outline: none;
    z-index: 200;
    box-sizing: border-box;
}

.toolbar {
    position: fixed;
    top: 0;
    right:0;
    display: flex;
    justify-content: end;
}
.toolbar button {
    font-size: 12px;
}

.formula-bar-container {
    width: 100%;
    max-width: 1500px;
    margin: 20px;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    z-index: 150;
    display: flex;
    padding: 5px;
    align-items: center;
}
.formula-bar {
    flex: 1;
    font-size: 15px;
    padding: 4px 8px;
    border: 1px solid #bbb;
    border-radius: 3px;
    background: #fff;
}