$color_1: #616161;
$color_2: #1F7A54;
$color_3: #0000001F;
$color_4: #1F2834;
$color_5: #666666;
$font-family_1: 'Quicksand', sans-serif;
$background-color_1: #EEEEEE;
$background-color_2: #E0E1E1;
$background-color_3: #0000001F;
$background-color_4: #FFFFFF;
$background-color_5: #3FD28B;