html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.mainCanvas {
    background-color: white;
    cursor:cell;
}


  #canvasColHeader {
    z-index: 2;
    pointer-events: none;
  }

  #canvasRowHeader {
    z-index: 2;
    pointer-events: none;
  }

  #canvasCorner {
    z-index: 3;
    pointer-events: none;
  }