body{
    margin-left:20px;
    margin-right:20px;
    font-family: 'Arial', sans-serif;
    background-color:#ffffcc;
}
.title{
    padding:5px;
    background-color: maroon;
    color:#ffffcc;
    text-align:center;
    border-bottom: solid #cc0000 15px ;
    font-style: italic;
    letter-spacing: 15px;
}

h2{
    background-color: #009900;
    color:white;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#hero-sub-text{
    font-style: italic;
    text-transform: uppercase;
}
.ul-list{
    color:#a0130f;
    font-style: italic;
}

a{
    text-decoration: none;
}
.google-logo{
    border:dashed #cccccc 2px ;
}

table{
    background-color:#cccccc;
}
#comments{
    overflow-y: scroll;
    resize: none;
    width: 200px;
}
.fbtn{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
}
#male:focus{
    outline:1px solid black;
}