$color_1: #616161;
$color_2: #1F7A54;
$color_3: #0000001F;
$color_4: #3FD28B;
$color_5: white;
$color_6: #666666;
$color_7: #000000;
$color_8: #D80000;
$font-family_1: 'Quicksand';
$background-color_1: #EEEEEE;
$background-color_2: #E0E1E1;
$background-color_3: #0000001F;
$background-color_4: #202b37;
$background-color_5: #8DDC97;
$background-color_6: #FFFFFF;
$background-color_7: #FFE4E6;
$background-color_8: #2A7FF3;
$background-color_9:#F3F3F3;