@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
}
html,body{
    font-family: 'Roboto';
    height: 100%;
    background-color:rgba(0, 0, 0,0.5);
}
.flex-container{
    flex-direction: column;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    align-items: flex-start;
    gap: 14px;
    background-color: white;
    padding:4px;
    margin: 4px;
}

.usertag{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
}
.card span{
    color:#9e9b9b;
    font-weight: 500;
}
.card img{
    width: 130px;
}
.card p{
    font-weight: 400;
    font-size: 20px;
}
.card-text{
    margin-right: 14px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.card-text2{
    margin-top: 24px;
}
.card-text2 i{
    font-size: 20px;
    margin-right: 14px;
}
.card-text2 span{
    font-size: 15px;
    margin-right: 24px;
}

